footer, body, main, ul, li{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header a{
    text-decoration: none;
    color: black;
}

.menu li{
    list-style: none;
}

.menu{
    background-color: rgb(212, 212, 212);
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 10px;
    padding:  10px 65px;
    align-items: center;
    padding-bottom: 20px;
}

.mItem{
    justify-self: center;
    font-size: medium;
    font-weight: lighter;
}

.bar{
    grid-column: 1/6;
    grid-row: 2;
    height: 1px;
    background-color: black;
    margin-bottom: 10px;
}

#m1{
    grid-column: 1;
    grid-row: 1;
}

#m2{
    grid-column: 2;
    grid-row: 1;
}

#m3{
    grid-column: 3;
    grid-row: 1;
}

#m4 button{
    grid-column: 4;
    grid-row: 1;
    background-color: white;
    padding: 4px 55px;
    border-radius: 20px;
    border: 2px solid black;
    font-weight: bold;
}

#m5 button{
    grid-column: 5;
    grid-row: 1;
    background-color: rgb(166, 93, 235);
    padding: 6px 40px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    color: white;
}

#m3:hover, #m4:hover, #m5:hover{
    transform: scale(1.05);
}

#m6{
    grid-column: 2;
    grid-row: 3;
}

#m7{
    grid-column: 3;
    grid-row: 3;
}

#m8{
    grid-column: 4;
    grid-row: 3;
}


/* Tela de Configuração: Anfitrião */

.menuzinho{
    background-color: lightgray;
    float: left;
    border-radius: 10px;
    margin: 15px;
    margin-left: 15px;
    padding-top: 22px;
    width: 300px;
    max-height: 235px;
}

.menuopcoes li{
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 30px;
}

.menuzao{
    background-color: lightgray;
    float: left;
    border-radius: 10px;
    margin: 15px;
    padding-top: 22px;
    width: 69%;
}

.titulos{
    margin-left: 42px;
    padding-bottom: 20px;
    margin-top: 15px;
}

.linhaflex {
    display: flex;
    gap: 10px;
}

#email {
    width: 906px;
}

.caixadetexto {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 40px;
    margin-bottom: 20px;
}

.caixadetexto label {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 2px;
    margin-bottom: 5px;
    font-size: 16px;
}

.caixadetexto input {
    width: 390px;
    border: none;
    outline: none;
    background-color: rgb(189, 189, 189);
    border-radius: 7px;
    padding: 10px;
    box-sizing: border-box;
}

.cardhist{
    background-color: rgb(180, 180, 180);
    border-radius: 5px;
    padding: 20px;
    margin: 50px;
    margin-top: 10px;
    margin-right: 10px;
    max-width: 850px;
    height: 230px;
}

.cardhist img{
    margin-right: 10px;
}

.cardhist h6{
    margin-top: 17px;
}

.cardexcluir{
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    padding: 20px;
    margin: 50px;
    margin-top: 10px;
    max-width: 850px;
    height: 230px;
}

.quebralinha{
    margin-left: 20px;
    margin-top: 10px;
}

.botaoexcluir {
    color: white;
    background-color: rgb(255, 65, 65);
    border: none;
    float: right;
    border-radius: 20px;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 32px;
    margin-right: 25px;
}